<form class={{page}} id="dataform">
  <h2>{{title}}</h2>
  {{#each inputData}}
    <label for={{Field}}>{{lookup ../headerNames [Field]}}:</label>
    {{#if (ifEquals Field ../fkInfo)}}
      {{#with (lookup ../fkTable [Field])}}
        {{#with name}}
          <select name={{Field}} class="{{Type}} {{Null}} {{Key}} {{../../Field}} FKinput datainput">
            <option value=""></option>
            {{#each ../select}}
              <option value={{#with ../../id}}{{lookup .. [Field]}}{{/with}}>{{lookup . ../Field}}</option>
            {{/each}}
          </select>
        {{/with}}
      {{/with}}
    {{else}}
      <input type="text" name={{Field}} class="{{Type}} {{Null}} {{Key}} datainput" />
    {{/if}}
  {{/each}}
  <input id="submit" type="submit" value="Submit" />
</form>